body {

color: white;
 font-size: 144px;
 font-family: Playfair Display;
 font-weight: 400;
 word-wrap: break-word

color: white;
 font-size: 72px;
 font-family: Playfair Display;
 font-weight: 400;
 word-wrap: break-word

color: white;
 font-size: 18px;
 font-family: Roboto;
 font-weight: 400;
 word-wrap: break-word

color: white;
 font-size: 24px;
 font-family: Roboto;
 font-weight: 400;
 word-wrap: break-word

color: white;
 font-size: 48px;
 font-family: PT Serif;
 font-weight: 400;
 word-wrap: break-word

color: white;
 font-size: 24px;
 font-family: Roboto;
 font-weight: 400;
 word-wrap: break-word

color: #C7C7C7;
 font-size: 24px;
 font-family: Roboto;
 font-weight: 300;
 word-wrap: break-word

color: #C7C7C7;
 font-size: 24px;
 font-family: Roboto;
 font-weight: 300;
 word-wrap: break-word

color: #C7C7C7;
 font-size: 24px;
 font-family: Roboto;
 font-weight: 300;
 word-wrap: break-word

color: #C7C7C7;
 font-size: 24px;
 font-family: Roboto;
 font-weight: 300;
 word-wrap: break-word

color: #C7C7C7;
 font-size: 24px;
 font-family: Roboto;
 font-weight: 300;
 word-wrap: break-word

color: #DCDCDC;
 font-size: 24px;
 font-family: Roboto;
 font-weight: 300;
 word-wrap: break-word

color: white;
 font-size: 24px;
 font-family: Roboto;
 font-weight: 300;
 word-wrap: break-word

color: white;
 font-size: 24px;
 font-family: Roboto;
 font-weight: 400;
 word-wrap: break-word

color: white;
 font-size: 24px;
 font-family: Roboto;
 font-weight: 300;
 word-wrap: break-word

color: white;
 font-size: 48px;
 font-family: Playfair Display;
 font-weight: 400;
 word-wrap: break-word


color: white;
 font-size: 24px;
 font-family: Roboto;
 font-weight: 400;
 word-wrap: break-word

color: #D8D8D8;
 font-size: 14px;
 font-family: Roboto;
 font-weight: 400;
 word-wrap: break-word

color: #D8D8D8;
 font-size: 12px;
 font-family: Roboto;
 font-weight: 400;

color: white;
 font-size: 14px;
 font-family: Roboto;
 font-weight: 400;
 word-wrap: break-word

color: white;
 font-size: 24px;
 font-family: Roboto;
 font-weight: 400;
 word-wrap: break-word
---
// 05.01
color: #D8D8D8;
 font-size: 14px;
 font-family: Roboto;
 font-weight: 400;
 word-wrap: break-word
---
// With us from 2020
color: #D8D8D8;
 font-size: 12px;
 font-family: Roboto;
 font-weight: 400;
 word-wrap: break-word
---
// Elizabeth Garsia
color: white;
 font-size: 14px;
 font-family: Roboto;
 font-weight: 400;
 word-wrap: break-word

color: white;
 font-size: 24px;
 font-family: Roboto;
 font-weight: 400;
 word-wrap: break-word

color: #D8D8D8;
 font-size: 14px;
 font-family: Roboto;
 font-weight: 400;
 word-wrap: break-word

color: #D8D8D8;
 font-size: 12px;
 font-family: Roboto;
 font-weight: 400;
 word-wrap: break-word

color: white;
 font-size: 14px;
 font-family: Roboto;
 font-weight: 400;
 word-wrap: break-word

color: #8D8D8D;
 font-size: 28px;
 font-family: Roboto;
 font-weight: 400;
 word-wrap: break-word

color: #959595;
 font-size: 28px;
 font-family: Roboto;
 font-weight: 400;
 word-wrap: break-word

color: #959595;
 font-size: 24px;
 font-family: Roboto;
 font-weight: 400;
 word-wrap: break-word

color: #959595;
 font-size: 24px;
 font-family: Roboto;
 font-weight: 400;
 word-wrap: break-word

color: #959595;
 font-size: 24px;
 font-family: Roboto;
 font-weight: 400;
 word-wrap: break-word

color: white;
 font-size: 48px;
 font-family: Playfair Display;
 font-weight: 400;
 word-wrap: break-word

color: white;
 font-size: 24px;
 font-family: Roboto;
 font-weight: 400;
 word-wrap: break-word

color: white;
 font-size: 24px;
 font-family: Roboto;
 font-weight: 400;
 text-decoration: underline;
 word-wrap: break-word

color: white;
 font-size: 24px;
 font-family: Roboto;
 font-weight: 400;
 text-decoration: underline;
 word-wrap: break-word

color: white;
 font-size: 24px;
 font-family: Roboto;
 font-weight: 400;
 text-decoration: underline;
 word-wrap: break-word

color: white;
 font-size: 24px;
 font-family: Roboto;
 font-weight: 400;
 word-wrap: break-word

color: white;
 font-size: 24px;
 font-family: Roboto;
 font-weight: 400;
 word-wrap: break-word

color: white;
 font-size: 24px;
 font-family: Roboto;
 font-weight: 400;
 word-wrap: break-word

color: white;
 font-size: 18px;
 font-family: Roboto;
 font-weight: 400;
 word-wrap: break-word

color: white;
 font-size: 24px;
 font-family: PT Serif;
 font-weight: 400;
 word-wrap: break-word

color: white;
 font-size: 18px;
 font-family: Roboto;
 font-weight: 400;
 word-wrap: break-word

color: white;
 font-size: 36px;
 font-family: Playfair Display;
 font-weight: 400;
 word-wrap: break-word

color: white;
 font-size: 36px;
 font-family: Playfair Display;
 font-weight: 400;
 word-wrap: break-word
-
color: white;
 font-size: 36px;
 font-family: Playfair Display;
 font-weight: 400;
 word-wrap: break-word
}
header {
    width: 1440px;
    height: 2875px;
    background: #FFF;
}